@mixin button-format() {
  background-color: $green-recipe-title;
  border: 0;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-family: $Quicksand;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}

@mixin flex-center() {
  display: flex;
  justify-content: center;
}
