/* COLORS */
$blue-background: #5B7894;
$green-recipe-title: #359567;
$green-title-border: #C4EB67;
$secondary-header-color: #84C8A4;

/* FONTS */
$Quicksand: "Quicksand", sans-serif;

/* SIZING */
$full: 100%; 
$zero: 0%;
